
<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<% if (messages && messages.length > 0) { %>
    <div class="alert alert-success flash container-fluid" role="alert">
      <%= messages %>
    </div>
<% } %>
<!-- Add homepage image -->
<!-- <div class="container-fluid text-end fixed-top pr-0 pl-0">
    <img id="background" src="images/background_v5.png">
</div> -->
<div class="container-fluid pr-0 pl-0" id="newBackground" style="opacity:0.4; position:absolute">
    <img class="img-fluid" src="images/background_v5.png">
</div>
   

<!-- scroll down icon -->

<!-- divs and links for the different pages -->
<div class="container-fluid text-center" id="galleryIntro">
    <div class="container homecontent">
        <h4 class="mt-5">Aspiring bird artist based in the Netherlands. </h4>
        <!-- <p class="mb-5">As an illustrator with a great love for nature, I use both traditional and digital techniques in my illustrations to visualize the beautiful patterns that can be discovered in bird plumage.My aim is to encourage people to observe nature with a more attentive eye and to find themselves fascinated by avian inhabitants of our planet. </p> -->
        <p class="mb-5">As an illustrator passionate about nature, I use both traditional and digital techniques in my illustrations to visualize the beautiful patterns that can be discovered in bird plumage. My aim is to encourage people to observe nature with a more attentive eye and to find themselves fascinated by the small birds in their backyard or the flocks flying past.</p>
        <a class="mt-2" href="/contact"><button type="button" class="btn ">Contact</button></a>
    </div>
</div> 

<div class="container-fluid text-center" id="icon"> 
    <i class="fa fa-angles-down fa-2xl"></i>
</div>

<!-- <div class="container-fluid text-center" id="hometogallery"> -->
    <!-- <div class="container homecontent mt-5 mb-5"> -->
        <!-- gallery automatic slideshow -->
        <!-- <div class="carousel slide mx-auto carousel-fade" data-ride="carousel" data-interval="5000" id="home-carousel">
            <div class="carousel-inner animate-slide">
                <% for (let i = 0; i < posts.length; i++) { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <img class="d-block w-100 mt-5 mb-5" src="<%= posts[i].image %>" alt="<%= posts[i].alt %>">
                    </div>
                <% } %>
            </div>
        </div> -->
        <!-- <a href="/gallery"><button type="button" class="btn mb-5">Gallery</button></a>
    </div>
</div> -->
<div class="container-fluid text-center" id="hometogallery">
    <div class="container homecontent mt-5 mb-5">
        <!-- gallery automatic slideshow -->
        <div class="carousel slide mx-auto carousel-fade" data-ride="carousel" data-interval="3000" id="home-carousel">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <% for (let i = 0; i < posts.length; i++) { %>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 <%= i === 0 ? 'active' : '' %>">
                        <img class="d-block w-100 mt-5 mb-5 mx-auto" src="<%= posts[i].image %>" alt="<%= posts[i].alt %>">
                    </div>
                <% } %>
            </div>
            <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <a href="/gallery"><button type="button" class="btn mb-5 mt-5">Gallery</button></a>
    </div>
</div>
<div class="container-fluid text-center" id="hometoshop">
    <div class="container homecontent mt-5"> 
    <img class="img-fluid mt-5 mb-5" src="images/shop_image_v2.png">   
    <a href="#"><button type="button" class="btn  mt-5 mb-5">Shop</button></a>
    </div>
</div>