<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<!-- index page -->

<!-- title -->
<div class="container-fluid text-center">
    <div class="container indexcontent">
        <h4 class="mt-5">Illustrations</h4>`
        <p class="mb-5">Below you can find some of my fine art and poster illustrations. If you are interested in a certain bird don't hesitate to let me know! Al illustrations can be bought <span><a href='/#'>here</a></span>.</p>
    </div>
    <div class="container-fluid justify-content-between">
        <a class="mr-3" href="#fineartheader"><button type="button" class="btn btn-outline-dark">Fine art</button></a>
        <a class="ml-3" href="#posterartheader"><button type="button" class="btn btn-outline-dark">Posters</button></a>
    </div>
    
</div>

<!-- divs with fine art and illustrations to which you skip when clicking on the button above -->
<div class="container-fluid text-center mt-5">
    <h5 id="fineartheader">Fine Art</h5>
    <hr>
    <div class="container homecontent">
        <!-- make sure that there is a new row div created for every 3 posts -->
        <div class="row">
            <% let fine_count = 0; %>
            <% for (let Post of fineart) { %>
                <div class="col-md-4 mb-4">
                    <a class="lightbox" href="#<%=Post.slug%>">
                        <img class="img-fluid index_image" src="<%= Post.compressed_thumbnail %>" alt="<%= Post.title %>">
                    </a>
                </div>
                <% fine_count++; %>
                <% if (fine_count % 3 === 0) { %>
                    </div><div class="row">
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<div class="container-fluid text-center mt-5">
    <h5 id="posterartheader">Posters</h5>
    <hr>
    <div class="container homecontent">
        <!-- make sure that there is a new row div created for every 3 posts -->
        <div class="row">
            <% let poster_count = 0; %>
            <% for (let Post of posterart) { %>
                <div class="col-md-4 mb-4">
                    <a class="lightbox" href="#<%=Post.slug%>">
                        <img class="img-fluid index_image" src="<%= Post.compressed_thumbnail %>" alt="<%= Post.title %>">
                    </a>   
                </div>
                <% poster_count++; %>
                <% if (poster_count % 3 === 0) { %>
                    </div><div class="row">
                <% } %>
            <% } %>
        </div>
    </div>
</div>
<!-- MAKE SURE THAT THE IMAGES ARE COMPRESSED! CURRENTLY USING THUMBNAIL -->
<% for (let Post of fineart) { %> 
    <div class="lightbox-target" id="<%=Post.slug%>">
        <img src="<%=Post.compressed_thumbnail%>"> 
        <a class="lightbox-close" href="#fineartheader"></a>
    </div>
<% } %>

<% for (let Post of posterart) { %> 
    <div class="lightbox-target" id="<%=Post.slug%>">
        <img src="<%=Post.compressed_thumbnail%>">
        <a class="lightbox-close" href="#posterartheader"></a>
    </div>
<% } %>