<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<!-- index page -->
<div class="container-fluid pr-0 pl-0" id="newBackground">
    <img class="img-fluid" src="images/background_v5.png">
</div>
<!-- title -->
<div class="container-fluid text-center admin">
    <div class="container indexcontent">
        <img class=" rounded-circle" src="/images/profielfoto.jpg" width="140" height="140" alt="Sylke Angenent" style="opacity:0.8;" id="profilePicture">
        <p class="mb-5">As an illustrator passionate about nature, I use both traditional and digital techniques in my illustrations to visualize the beautiful patterns that can be discovered in bird plumage. If you are interested in a certain bird don't hesitate to let me know! Al illustrations can be bought <span><a href='https://www.etsy.com/shop/HeraldingBirds' target="_blank">here</a></span>.</p>
        <div class="container-fluid justify-content-between">
            <a class="mr-3" href="#fineart"><button type="button" class="btn btn-outline-dark">Fine art</button></a>
            <a class="ml-3" href="#posterart"><button type="button" class="btn btn-outline-dark">Posters</button></a>
        </div>
    </div>
    <div class="container-fluid text-center mt-5" id="icon"> 
        <i class="fa fa-angles-down fa-2xl arrow"></i>
     </div> 
</div>


<!-- divs with fine art and illustrations to which you skip when clicking on the button above -->
<div class="container-fluid text-center mt-5 pb-5">
    <h5 class="pt-5" id="fineart">Fine Art</h5>
    <hr>
    <div class="container homecontent">
        <div class="row">
            <% for (let Post of fineart) { %>
                <div class="col-md-4 col-6  col-xl-3 mb-4">
                    <a class="lightbox" href="#<%=Post.slug%>">
                        <img class="img-fluid index_image" src="<%= Post.image.url%>" alt="<%= Post.alt %>">
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</div>

<div class="container-fluid text-center pt-5 mb-5 pb-5">
    <h5 class="pt-5" id="posterart">Posters</h5>
    <hr>
    <div class="container homecontent">
        <!-- make sure that there is a new row div created for every 3 posts -->
        <div class="row">
            <% for (let Post of posterart) { %>
                <div class="col-md-4 col-6 col-xl-3 mb-4">
                    <a class="lightbox" href="#<%=Post.slug%>">
                        <img class="img-fluid index_image" src="<%= Post.image.url %>" alt="<%= Post.alt %>">
                    </a>   
                </div>
            <% } %>
        </div>
    </div>
</div>
<!-- MAKE SURE THAT THE IMAGES ARE COMPRESSED! CURRENTLY USING NORMAL IMAGE-->
<% for (let Post of fineart) { %> 
    <div class="lightbox-target" id="<%=Post.slug%>">
        <img src="<%=Post.image.url%>"> 
        <a class="lightbox-close" href="#fineartheader"></a>
    </div>
<% } %>

<% for (let Post of posterart) { %> 
    <div class="lightbox-target" id="<%=Post.slug%>">
        <img src="<%=Post.image.url%>">
        <a class="lightbox-close" href="#posterartheader"></a>
    </div>
<% } %>